<li class="price__item" data-aos="flip-left" data-aos-duration="1300">
  <div class="price__wrapper">
    <div class="price__wrap">
      <h3 class="price__heading">
        @title
      </h3>
      <div class="price__subtitle">
        @price руб<span>/месяц</span>
      </div>
    </div>
    <div class="price__inner">
      <ul class="price__list">
        <li class="price__li @mod1">@txt1</li>
        <li class="price__li @mod2">@txt2</li>
        <li class="price__li @mod3">@txt3</li>
        <li class="price__li @mod4">@txt4</li>
      </ul>
    </div>
  </div>
  <a class="price__link" href="#">Узнать подробнее</a>
</li>