@mixin max-450 {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin max-600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin max-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin max-980 {
  @media (max-width: 985px) {
    @content;
  }
}

@mixin max-1100 {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin max-1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin line-clamp1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin font-face($font-family, $url, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("../fonts/#{$url}.woff2") format("woff2"), url("../fonts/#{$url}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: normal;
  }
}
